.body {
  margin: 3px;
}
.margin1px {
  margin: 1px;
}
.error {
  color: red;
}
.time {
  border-bottom: 1px solid #000;
}
.column-container {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.column {
  display: table-cell;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  min-height: 5px;
}
.column:last-child {
  border-right: none;
}
.column-title {
  text-align: center;
}
.row {
  border-bottom: 1px solid #000;
}
.row:last-child {
  border-bottom: none;
}

.text {
  padding: 1px;
  word-break: break-all;
}

.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.code {
  background-color: #eee;
  border-radius: 3px;
}

.status-statuscontainer-item {
  font-size: 12px;
}

.status-statuscontainer-item-id {
  text-align: left;
}

.status-statuscontainer-item-info {
  text-align: right;
}
